

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --basic:rgb(231,233,236);
  --text:rgb(192, 192, 192);
  --dark:rgb(128, 128, 128);
  --bg:white;
  --font:black;

  --visible:none;
}

.app{
  height:70vh;
  width:45vh;
  margin:auto;
  margin-top: 15vh;
  background-image: radial-gradient(var(--basic) 50%,var(--dark));
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* display */
.display,.big-display{
  height:30vh;
  width:40vh;
  background-color: var(--bg);
  margin:auto;
  margin-top:5vh;
  border:solid black 3px;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
}

.big-display{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-half{
  padding: 1vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  height:100%;
  width:50%;
  justify-content: space-around;
  font-family: 'Verdana';
}

.right-half img{
  height: 100%;
  width:100%;
}

.pages{
  height:60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading1{
  font-size: 1.3rem;
  margin:1vh;
}

.heading2{
  font-size:0.7rem;
  margin:1vh;
}
.heading3{
  font-size:0.8rem;
  margin:1vh;
}

.page1,.page2,.page3,.page4{
  display: flex;
  color:var(--font);
  justify-content: space-between;
  background-color: var(--bg);
}

.a1,.a2,.a3,.a4{
  display: flex;
  align-items: center;
  color:white;
  visibility:var(--visible);
}


/* controls */

.controls{
  height:27vh;
  width:27vh;
  background-color: white;
  margin-bottom: 5vh;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  
}

.row1,.row2,.row3{
  height:9vh;
  
  color:var(--text)
}

.row1,.row2,.row3,.rewinind,.forward{
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2{
  justify-content: space-around;
}

.row1{
  font-size: 1.2rem;
  width:auto;
}

.row2 img{
  height: 5vh;
  width:5vh;
}

.row1,.row3{
  justify-content: center;

}




.select{
  height: 8vh;
  width:8vh;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;
  
}

.left-half-playlist{
  padding: 1vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  height:100%;
  width:40%;
  justify-content: space-around;
  font-family: 'Verdana';
}

.right-half-playlist{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-left: solid black 1px;
  text-align:center;
}

.right-half-playlist img{
  width:100%;
  height: 50%;
  margin: auto;
}

/* player */

.player{
  display:flex;
  justify-content: space-around;
}

.player img{
  height:40%;
  width:70%;
}